body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 16px;
  background-image: linear-gradient(90deg, #fd5e94, #ffb682);
  /* background-repeat: no-repeat; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.input-form {
  display: flex;
  flex-direction: column;
  line-height: 1.8;
  height: 300px;
  width: 335px;
  justify-content: center;
  padding: 40px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}

input {
  margin: 10px 0;
  height: 30px;
  /* border-radius: 0px; */
  border-radius: 10px;
  border: 0.01px solid rgba(185, 176, 176, 0.7);
  text-align: center;
  width: 250px;
  margin: 10px auto;
  font-size: 1rem;
}

button {
  width: 250px;
  margin: 10px auto;
  background-color: #4896ff;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: white;
  font-size: 1.2rem;
}
input,
select:focus {
  outline: none;
}

button,
select:hover {
  cursor: pointer;
}

h1 {
  margin: none;
}

.error-msg {
  font-size: 0.9rem;
  text-align: center;
  color: red;
}

.products-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  margin: 40px auto;
  padding: 0 30px;
}

.products-container img {
  height: 200px;
  width: 200px;
}

.products-card p {
  font-size: 0.8rem;
  padding: 10px;
}
.products-card h2 {
  font-size: 0.7rem;
  max-width: 200px;
  margin: 10px auto;
}

/* .products-card {
  background-color: white;
  padding: 25px 50px 200px 50px;
  text-align: center;
  border-radius: 25px;
} */

.products-card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin: 1rem;
  /* position: relative; */
  background-color: white;
  /* padding: 25px 50px 200px 50px; */
  height: 430px;
  width: 250px;
  /* padding-top: 20px; */
  text-align: center;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0px;
}

.products-card-1 {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.products-card-1:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.products-card button {
  width: 90px;
  font-size: 0.5rem;
  margin-top: 0;
  margin: 0 5px;
}

.products-card button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.atc {
  background-color: #f0e130;
  color: black;
}

.product-information {
  width: 200px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 30px 50px 0px 50px; */
}

.navbar .links a {
  color: rgb(100, 29, 29);
}

.navbar .links a:not(:last-child) {
  margin-right: 20px;
}

.links span {
  margin-right: 13px;
  color: rgb(100, 29, 29);
}

.carts-number {
  background-color: rgb(197, 114, 230);
  padding: 5px;
  margin-left: 5px;
  /* border-radius: 10px; */
  font-size: 0.9rem;
  color: #fff !important;
}

.brand h1 {
  color: #ffc0cb;
  font-weight: 700;
}

.signout {
  width: 100px;
  background-color: red;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}

.product-price h6,
.product-rating h6 {
  margin: 20px;
}

.product-price,
.product-rating {
  display: flex;
  justify-content: space-between;
}

.filter-component {
  display: flex;
  justify-content: flex-end;
}

.page-container {
  padding: 30px 50px;
}

select {
  padding: 10px;
  border: 0.7px solid black;
  background-color: #fff;
  margin-left: 10px;
  border-radius: 5px;
}

.rfc {
  background-color: red !important;
}

.cartItems {
  display: flex;
  align-items: flex-start;
  background-color: white;
  width: 600px;
  padding: 5px 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  /* box-shadow: 5px 5px 20px; */
  box-shadow: 0 10px 10px -9px;
}

.cartItem-image img {
  height: 90px;
  width: 90px;
  align-self: center !important;
}
.cartItem-review {
  display: flex;
  width: 350px;
  justify-content: space-between;
}
.flex-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.delete {
  align-self: center;
}
.delete button {
  width: 50px;
  text-align: center;
  padding: 10px;
  background-color: red;
}

.checkout-card {
  background-color: white;
  height: 300px;
  padding: 30px;
  border-radius: 25px;
  /* box-shadow: 0 10px 10px -5px; */
  box-shadow: 5px 5px 20px;
}

.checkout-container {
  display: flex;
  flex-direction: column;
}

.quantity-counter {
  display: flex;
  flex-direction: row;
  font-size: 12px;
}

.quantity-counter span {
  margin-left: 10px;
  font-size: 19px;
}

.quantity-updater {
  background-color: pink;
  padding: 5px 10px;
  border-radius: 10px;
}
